<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources :: headResources('Songs')"></head>
<body>


<div class="mt-5" style="max-width: 600px; margin-inline: auto">
  <div class="card text-center">
    <div class="card-header">
      <h1>BEST OF THE YEAR</h1>
      <h3 th:text="${name}"></h3>
      <ul class="nav nav-pills card-header-pills d-flex justify-content-between pb-3 mx-5">
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/songs}">Best Songs</a>
        </li>
        <li class="nav-item" style="margin-left: 20px !important;">
          <a class="nav-link active" th:href="@{/movies}">Best Movies</a>
        </li>
      </ul>
    </div>
    <ul class="list-group list-group-flush" th:if="${songList.size() > 0}" style="width: 40%; margin-inline: auto">
      <li class="badge bg-primary py-4 mt-2" th:each="song : ${songList}">
        <a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
           th:href="@{|/songs/${song.id}|}">
          <span th:text="${song.id}"></span>
          <span th:text="${song.title}"></span>
        </a>
      </li>
    </ul>
    <div class="card-body">
      <a th:href="@{/}">Back to HOME</a>
    </div>
  </div>
  <div th:unless="${songList.size() > 0}">No results</div>
</div>

<th:block th:replace="fragments/resources :: jsResources"></th:block>
</body>
</html>