<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources :: headResources('Songs')"></head>
<body>

<div class="card mx-auto mt-5" style="width: 18rem;">
  <div class="card-body" th:if="${songDetail != null}">
    <h3 class="card-title">SONG DETAILS</h3>
    <p class="card-text" th:text="|Id: ${songDetail.id}|"></p>
    <p class="card-text" th:text="|Title: ${songDetail.title}|"></p>
    <a th:href="@{/}">Back to HOME</a>
    <a th:href="@{/songs}">Back to song list</a>
  </div>
</div>

<th:block th:replace="/fragments/resources :: jsResources"></th:block>
</body>
</html>